html{color:#000;
	background:#fff; 
	padding:0px 0;
	font: 12px/18px "맑은 고딕", "Malgun Gothic", "굴림", "Gulim", Verdana, Arial, Tahoma;
}
li{list-style:none;}
table{border-collapse:collapse;border-spacing:0; margin-left:180px; }
#top{

	height:80px;
	padding:0;
	background-color:#fff;
}
#top_left{
	height: 80px;
	float:left;
	width:730px;

}
#top_right{

	background-color:#D4F4FA;
}



#wrap {width:960px; margin:0 auto; background-color:#fff}


#nenu ul {margin:0;padding:0;}
#menu ul li {float:left;}
#menu ul li a{
	color:#fff; background-color:#4682b4;
	display:block;
	width:200px;
	text-align:center;
	padding:0px 10px; 
	font: bold 12px/30px Tahoma;
	text-decoration:none;
	margin-right:1px;
}
#menu ul li a.selected {background-color:#94c713;}
#menu ul li a:hover {background-color:#709647;}

#body{
	text-align: center;
	margin-left:120px;
	width: 700px;
	height:700px;
	background-color:#fff;

}
#content_img{
	margin-top: 100px;
	margin-left: 110px;
	width:500px;
	height:500px;
	text-align: left;
}
#body_img1{
	float:left;
	width:300px;
	height:500px;
}
#body_img2{
	margin-left: 300px;
	width:200px;
	height:250px;
}
#body_img3{
	margin-left:300px;
	width:200px;
	height:250px;
}		

#space{
	margin-left:80px;
}

#footer{
	
	height:50px;
	margin:auto;
	background-color:#fff;
	text-align: center;
	
}


h1 {font-size:34px; line-height:28px; font-weight:bold;}
h2 {font-size:24px; line-height:24px; font-weight:bold;}
h3 {font-size:14px; line-height:24px; font-weight:bold;}